src/flow.json
[{
	"id": "75aa87d8.1db4f8",
	"type": "tab",
	"label": "Initiate"
},{
	"id": "ad65b6aa.63a4b8",
	"type": "tab",
	"label": "Update count"
},{
	"id": "965898a2.0af548",
	"type": "mqtt-broker",
	"z": "",
	"broker": "localhost",
	"port": "1883",
	"clientid": "a:ORG_ID:DEVICE_ID",
	"usetls": false,
	"compatmode": true,
	"keepalive": "60",
	"cleansession": true,
	"willTopic": "",
	"willQos": "0",
	"willPayload": "",
	"birthTopic": "",
	"birthQos": "0",
	"birthPayload": ""
},{
	"id": "cd3a6d2c.7d62",
	"type": "mongodb",
	"z": "",
	"hostname": "ethpi",
	"port": "27017",
	"db": "peoplecount",
	"name": ""
},{
	"id": "799c89a1.3a3688",
	"type": "mongodb",
	"z": "",
	"hostname": "127.0.0.1",
	"port": "27017",
	"db": "peoplecount",
	"name": ""
},{
	"id": "2295f587.37bfba",
	"type": "http in",
	"z": "75aa87d8.1db4f8",
	"name": "HTTP start-count",
	"url": "/start-count",
	"method": "get",
	"swaggerDoc": "",
	"x": 167.5,
	"y": 200,
	"wires": [["b5fe7422.2aa9b8"]]
},{
	"id": "69d98c35.013d84",
	"type": "http response",
	"z": "75aa87d8.1db4f8",
	"name": "",
	"x": 665.5,
	"y": 366,
	"wires": []
},{
	"id": "69daa54b.97a9ec",
	"type": "mqtt out",
	"z": "75aa87d8.1db4f8",
	"name": "",
	"topic": "cmd/DEVICE_ID/start-count",
	"qos": "",
	"retain": "",
	"broker": "965898a2.0af548",
	"x": 915.5,
	"y": 137,
	"wires": []
},{
	"id": "ea636c11.e4c21",
	"type": "function",
	"z": "75aa87d8.1db4f8",
	"name": "Prepare response",
	"func": "msg.payload = {\n    result: \"Start-count initiated for capture: \" + msg.captureId\n};\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 409.5,
	"y": 367,
	"wires": [["69d98c35.013d84"]]
},{
	"id": "affee43c.d632c8",
	"type": "function",
	"z": "75aa87d8.1db4f8",
	"name": "Set msg payload",
	"func": "var newMsg = {\n    payload: {\n        captureId: msg.captureId,\n        createDate: new Date(),\n        totalCount: 0\n    }\n};\n\nreturn newMsg;",
	"outputs": 1,
	"noerr": 0,
	"x": 645.5,
	"y": 170,
	"wires": [["dfb24c51.2c1b3",
	"69daa54b.97a9ec"]]
},{
	"id": "2bd0a5e5.a86b0a",
	"type": "mongodb in",
	"z": "75aa87d8.1db4f8",
	"mongodb": "799c89a1.3a3688",
	"name": "Find count-capture",
	"collection": "countcapture",
	"operation": "find",
	"x": 533.5,
	"y": 106,
	"wires": [["12efb97.853c347"]]
},{
	"id": "b5fe7422.2aa9b8",
	"type": "function",
	"z": "75aa87d8.1db4f8",
	"name": "Setup query",
	"func": "msg.payload = {};\nmsg.sort = {captureId: -1};\nmsg.limit = 1;\n\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 380.5,
	"y": 38,
	"wires": [["2bd0a5e5.a86b0a"]]
},{
	"id": "3e906a6f.155276",
	"type": "mqtt in",
	"z": "ad65b6aa.63a4b8",
	"name": "",
	"topic": "evt/+/count-result",
	"qos": "2",
	"broker": "965898a2.0af548",
	"x": 126.5,
	"y": 181,
	"wires": [["92162fe.c4c7fd"]]
},{
	"id": "f1df2a08.742a78",
	"type": "function",
	"z": "ad65b6aa.63a4b8",
	"name": "Setup query",
	"func": "msg.inMsg = msg.payload;\n\nmsg.payload = {\n    captureId: msg.inMsg.captureId\n};\n\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 450.5,
	"y": 164,
	"wires": [["a43e4897.51e6e8"]]
},{
	"id": "a43e4897.51e6e8",
	"type": "mongodb in",
	"z": "ad65b6aa.63a4b8",
	"mongodb": "799c89a1.3a3688",
	"name": "Find count-capture",
	"collection": "countcapture",
	"operation": "find",
	"x": 664.5,
	"y": 226,
	"wires": [["cf9f87ac.fa91b8"]]
},{
	"id": "cf9f87ac.fa91b8",
	"type": "switch",
	"z": "ad65b6aa.63a4b8",
	"name": "Capture exists",
	"property": "payload.length",
	"propertyType": "msg",
	"rules": [{
		"t": "gt",
		"v": "0",
		"vt": "num"
	},
	{
		"t": "else"
	}],
	"checkall": "true",
	"outputs": 2,
	"x": 843.5,
	"y": 288,
	"wires": [["956fb6a8.8acba8"],
	["4ca8e686.fd8fd8"]]
},{
	"id": "956fb6a8.8acba8",
	"type": "function",
	"z": "ad65b6aa.63a4b8",
	"name": "Update data",
	"func": "var inMsg = msg.inMsg;\n\nif (msg.payload.length > 0) {\n    data = msg.payload[0];\n    data.totalCount += inMsg.count;\n    inMsg.countcapture_id = data._id;\n    msg.payload = data;\n} else {\n    msg.payload = {};\n}\n\nvar deviceMsg = {\n    payload: inMsg\n};\n\nreturn [msg, deviceMsg];",
	"outputs": "2",
	"noerr": 0,
	"x": 596.5,
	"y": 77,
	"wires": [["bc31d908.532548",
	"e71b9906.7a6028"],
	["1a6a91ef.533a4e",
	"e546c088.47248"]]
},{
	"id": "dfb24c51.2c1b3",
	"type": "mongodb out",
	"z": "75aa87d8.1db4f8",
	"mongodb": "799c89a1.3a3688",
	"name": "Insert count-capture",
	"collection": "countcapture",
	"payonly": true,
	"upsert": false,
	"multi": false,
	"operation": "insert",
	"x": 898.5,
	"y": 210,
	"wires": []
},{
	"id": "8328b28c.5936c",
	"type": "debug",
	"z": "ad65b6aa.63a4b8",
	"name": "Debug topic msg",
	"active": true,
	"console": "false",
	"complete": "true",
	"x": 486.5,
	"y": 304,
	"wires": []
},{
	"id": "bc31d908.532548",
	"type": "debug",
	"z": "ad65b6aa.63a4b8",
	"name": "Debug data",
	"active": true,
	"console": "false",
	"complete": "true",
	"x": 860.5,
	"y": 27,
	"wires": []
},{
	"id": "e71b9906.7a6028",
	"type": "mongodb out",
	"z": "ad65b6aa.63a4b8",
	"mongodb": "799c89a1.3a3688",
	"name": "Save count-capture",
	"collection": "countcapture",
	"payonly": true,
	"upsert": false,
	"multi": false,
	"operation": "store",
	"x": 879.5,
	"y": 68,
	"wires": []
},{
	"id": "4ca8e686.fd8fd8",
	"type": "debug",
	"z": "ad65b6aa.63a4b8",
	"name": "Debug otherwise",
	"active": true,
	"console": "false",
	"complete": "true",
	"x": 872.5,
	"y": 400,
	"wires": []
},{
	"id": "92162fe.c4c7fd",
	"type": "json",
	"z": "ad65b6aa.63a4b8",
	"name": "",
	"x": 313.5,
	"y": 254,
	"wires": [["8328b28c.5936c",
	"f1df2a08.742a78"]]
},{
	"id": "12efb97.853c347",
	"type": "function",
	"z": "75aa87d8.1db4f8",
	"name": "Get captureId",
	"func": "\nvar captureId = 1;\nif (msg.payload.length > 0) {\n    var match = msg.payload[0];\n    captureId = match.captureId + 1;\n}\nmsg.captureId = captureId;\n\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 437.5,
	"y": 214,
	"wires": [["affee43c.d632c8",
	"ea636c11.e4c21"]]
},{
	"id": "712dbc05.9bed84",
	"type": "comment",
	"z": "75aa87d8.1db4f8",
	"name": "Output message format",
	"info": "The payload of the output message will have the following properties:\n\n* captureId - The unique identifier for this capture\n* captureDate - The timestamp when the capture was initiated\n* totalCount - Initially '0', this will contain the total count returned by the devices.\n* counts - Initially empty, this will contain the count data returned by the devices.",
	"x": 822.5,
	"y": 81,
	"wires": []
},{
	"id": "1a6a91ef.533a4e",
	"type": "mongodb out",
	"z": "ad65b6aa.63a4b8",
	"mongodb": "799c89a1.3a3688",
	"name": "Insert count-capture-device",
	"collection": "countcapturedevice",
	"payonly": true,
	"upsert": false,
	"multi": false,
	"operation": "insert",
	"x": 911.5,
	"y": 164,
	"wires": []
},{
	"id": "e546c088.47248",
	"type": "debug",
	"z": "ad65b6aa.63a4b8",
	"name": "Debug device msg",
	"active": true,
	"console": "false",
	"complete": "true",
	"x": 878.5,
	"y": 123,
	"wires": []
},{
	"id": "87e83bfc.c2ab38",
	"type": "comment",
	"z": "ad65b6aa.63a4b8",
	"name": "Input message format",
	"info": "The payload of the input msg contains the following elements:\n* **captureId** - The identifer for this capture set.\n* **deviceId** - The unique identifier for the device that captured the image. The combination of captureId and deviceId should be unique.\n* **filepath** - The path to the image file.\n* **filename** - The name of the image file.\n* **count** - The number of items in the image file.",
	"x": 138.5,
	"y": 295,
	"wires": []
}]